@import url(../variables.css);

.Profile {
	background-image: url(../assets/background-profile.png);
	background-size: cover;
	width: 100%;
	min-height: 100vh;
	max-width: 100%;
	padding: 0 10% 30px;
}

.Profile.MuiGrid-container {
	align-content: flex-start;
}

/* LOGO */
.Profile .logo-box {
	height: fit-content;
	position: absolute;
	top: 0;
	left: 0;
}
.Profile .logo {
	text-align: left;
	width: 48px;
	height: 44px;
	margin: 10px;
	position: fixed;
}

/* TITLE */
.Profile .title {
	font-family: var(--display-font);
	font-size: var(--font-size-title);
	padding-bottom: 10%;
	padding-top: 20%;
}

/* Subtitles */
.Profile .subtitle {
	font-family: var(--display-font);
	margin-bottom: 15px;
}

/* PICTURE UPLOAD */
.Profile .picture-box {
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;
}
.Profile .picture-box img {
	width: 95px;
	height: 95px;
	border-radius: 50%;
	background-color: var(--color-cream-orange);
	object-fit: cover;
	object-position: center;
}
.Profile .picture-box .choose-file {
	text-transform: capitalize;
	text-decoration: underline;
	color: var(--color-dark-brown);
	font-size: var(--font-size-text14);
	text-align: center;
}
.Profile .picture-box button {
	width: 35vw;
	align-self: center;
	margin-top: 10px;
}

/* CATEGORY BOX */
.Profile .category {
	display: flex;
	margin-bottom: 40px;
}
.Profile .category .cat-box {
	display: flex;
	flex-wrap: wrap;
	width: 40%;
	margin: 0 20px;
}
.Profile .category .cat-icon {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: var(--color-grey);
	margin: 5px;
	display: flex;
	justify-content: center;
}
.Profile .category .cat-icon i {
	font-size: 15px;
	align-self: center;
	color: var(--color-grey);
	background-color: var(--color-blue);
	padding: 5px;
	border-radius: 50%;
}
.Profile .category .MuiInputBase-root {
	border-radius: 20px 20px 0 0;
}
.Profile .category .MuiSelect-select:focus {
	background-color: var(--color-grey);
	border-radius: 20px 20px 0 0;
}
.Profile .category .MuiSelect-select {
	background-color: var(--color-grey);
	border-radius: 20px 20px 0 0;
}
.Profile .label-select {
	font-weight: 500;
	font-size: var(--font-size-text12);
	padding-bottom: 5px;
}

/* buttons */
.Profile .btn {
	width: 80%;
	margin: 40px 0 10PX;
	font-size: var(--font-size-text);
}
.Profile .link {
	font-size: var(--font-size-text14) !important;
	color: var(--color-dark-brown);
	font-weight: 600;
	text-decoration: underline;
}
