@import url(../variables.css);

.ProfileInfo {
	background-image: url(../assets/background-main-big.png);
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	min-height: 100vh;
	max-height: 100%;
	padding-bottom: 100px;
}
.ProfileInfo.MuiGrid-container {
	align-content: flex-start;
}

/* LOGO */
.ProfileInfo .logo-box {
	height: fit-content;
	position: absolute;
	top: 0;
	left: 0;
}
.ProfileInfo .logo {
	text-align: left;
	width: 48px;
	height: 44px;
	margin: 10px;
	position: fixed;
}

/* header */
.ProfileInfo .user-header {
	height: fit-content;
	display: flex;
	padding: 30% 30px 0;
}
.ProfileInfo .user-header img {
	width: 87px;
	height: 87px;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}
.ProfileInfo .user-header div {
	align-self: center;
	padding-left: 20px;
}
.ProfileInfo .user-header h2 {
	font-size: var(--font-size-subtitle25);
	font-weight: 600;
	text-transform: capitalize;
}
.ProfileInfo .user-header p {
	color: var(--color-dark-brown);
	font-weight: 600;
}
.ProfileInfo .btn-box {
	padding: 40px 30px 0;
}
.ProfileInfo .btn-box hr {
	border: 1px solid var(--color-dark-brown);
}

.ProfileInfo .btn-box button p {
	font-size: var(--font-size-text);
	color: var(--color-dark-brown);
	text-transform: capitalize;
	font-weight: 600;
}
.ProfileInfo .btn-box button {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0;
	color: var(--color-dark-brown);
}
.ProfileInfo .btn-box .back-arrow i {
	font-size: 25px;
	padding-top: 10px;
}
.ProfileInfo .logout-btn {
	padding-top: 25px;
}
