@import url(../variables.css);

.Sign {
	background-image: url(../assets/background-yellow-big.png);
	background-size: cover;
	width: 100%;

	min-height: 100vh;
	max-width: 100%;
}
.Sign.MuiGrid-container {
	align-content: flex-start;
}

/* LOGO */
.Sign .logo-box {
	height: fit-content;
}
.Sign .logo {
	text-align: left;
	width: 48px;
	height: 44px;
	margin: 10px;
	position: fixed;
}

/* TITLE */
.Sign .title {
	font-family: var(--display-font);
	font-size: var(--font-size-title);
	padding-bottom: 10%;
	padding-top: 20%;
}

/* ICONS FACE GOOGLE */
.Sign .icons-sign {
	position: relative;
	display: flex;
	padding: 0 30%;
	margin: auto;
	justify-content: space-between;
}
.Sign .facebook {
	display: flex;
	width: 48px;
	height: 48px;
	background-color: #36546c;
	border-radius: 50%;
	color: white;
}
.Sign .facebook i {
	width: 100%;
	align-self: center;
}
.Sign .google {
	display: flex;
	width: 48px;
	height: 48px;
	background-color: #36546c;
	border-radius: 50%;
	color: white;
}
.Sign .google i {
	width: 100%;
	align-self: center;
}

/* HR LINE */
.Sign .hr-box {
	margin: 20px 30px;
}
.Sign .hr-box hr {
	border: 1px solid var(--color-dark-brown);
}

/* INPUTS */
.Sign .MuiFormControl-root {
	width: 100%;
	padding: 2% 10%;
}

.Sign .MuiFormControl-root input {
	padding: 15px;
}

.Sign .MuiOutlinedInput-root {
	width: 100%;
	border-radius: 20px;
	background-color: var(--color-grey);
	display: flex;
}

.Sign .MuiFormLabel-root.Mui-focused {
	color: var(--color-blue);
}
.Sign .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
	border-color: var(--color-blue);
}
.Sign .btn {
	width: 80%;
	margin: 20px 0 10PX;
	font-size: var(--font-size-text);
}
.Sign .change-sign {
	font-size: var(--font-size-text14);
	color: var(--color-dark-brown);
	padding-bottom: 20px;
}
.Sign .link {
	font-size: var(--font-size-text14) !important;
	color: var(--color-blue);
	font-weight: 600;
	text-decoration: underline;
}

/* LOGIN CHECK BOX */
.Sign .checkbox svg {
	width: 20px;
	height: 20px;
	border-radius: 5px;
	background-color: var(--color-grey);
}
.Sign .checkbox svg path {
	fill: var(--color-grey);
}
.Sign .MuiCheckbox-colorPrimary.Mui-checked path {
	fill: var(--color-blue);
}

.Sign .Mui-error {
	font-weight: 600;
}
