.voice img {
	width: 35px;
	height: 35px;
	object-fit: cover;
	object-position: center;
	margin-right: 20px;
	border-radius: 50%;
}
.voice .user {
	display: flex;
	padding: 10px 30px;
	color: var(--color-light-orange);
	align-items: center;
	text-transform: capitalize;
}
.voice hr {
	border-color: var(--color-light-orange);
	border-width: 0.5px;
	margin: 0;
}
